html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
  background-color: #c4c4c4;
}

body {
  height: 100%;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: red;
  height: 5rem;
}

.search-form {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.search-form__search-bar {
  display: flex;
  border: solid black 1px;
  font-size: 1.4rem;
  align-items: center;

  border-radius: 1.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.search-form__search-bar__icon {
  width: 1.4rem;
  height: 1.4rem;
}

.search-form__search-bar__text-input {
  border: none;
  background-color: transparent;
}
.search-form__search-bar__text-input:focus-visible {
  border: none;
  outline: none;
}

.search-form__submit_button {
}

.favorite-cities-form {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.favorite-cities-form__city-button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: none;
  background-color: grey;
  border-radius: 1rem;
}

.basic-weather-card {
  font-family: 'Rubik';
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  border: solid 1px black;
  width: max-content;
  border-radius: 1rem;
}

.basic-weather-card__date {
  font-weight: 300;
  font-size: 1.4rem;
}

.basic-weather-card__location {
  font-weight: 500;
  font-size: 1.4rem;
}

.basic-weather-card__hero-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-weather-card__hero-icon {
  width: 4.8rem;
  height: 4.8rem;
}
.basic-weather-card__current-temp {
  font-size: 4.8rem;
}
.basic-weather-card__mainWeather {
  font-size: 1.4rem;
}

.basic-weather-card__minTemp {
}
.basic-weather-card__maxTemp {
}
.additional-info-card {
  display: flex;
}
.additional-info-card__pop,
.additional-info-card__sunrise,
.additional-info-card__sunset {
  display: flex;
  align-items: center;
}

.additional-info-card__pop__icon,
.additional-info-card__sunrise__icon,
.additional-info-card__sunset__icon {
  width: 2rem;
  height: 2rem;
}

.additional-info-card__pop__text,
.additional-info-card__sunrise__text,
.additional-info-card__sunset__text {
  font-size: 1.4rem;
}

.hourly-card {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.hourly-card__hourInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
}

.hourly-card__hourInfo__icon {
  width: 1.4rem;
  height: 1.4rem;
}

.hourly-card__hourInfo__temp {
  font-size: 1.4rem;
}

.weekly-card {
  display: flex;
  flex-direction: column;
}

.weekly-card__dayInfo {
  display: flex;
}

.weekly-card__dayInfo__icon {
  width: 2rem;
  height: 2rem;
}

.weekly-card__dayInfo__temp {
  font-size: 1.8rem;
}

.weather-grid {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content;
  border: solid 1px red;
  gap: 1rem;
  max-width: clamp(300px, 90vw, 700px);
  overflow: hidden;
  justify-items: center;
}

@media (min-width: 800px) {
  .weather-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    border: solid 1px red;
    gap: 1rem;
  }

  .basic-weather-card {
    grid-area: 1/1/2/2;
  }

  .weekly-card {
    grid-area: 1/2/2/2;
  }

  .hourly-card {
    grid-area: 2/1/2/3;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}
